/* .signup:active {
	background-color: #302ab1 !important;
}
#error_div {
	display: none !important;
}
#error_text {
	padding: 20px 0;
} */
.logo_img {
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 50%;
}
.logo_a {
	border-radius: 50% !important;
	overflow: hidden;
	padding: 2px;
}
